* {
    box-sizing: border-box;
}
.heading {
    text-align: center;
    width: 40%;
    margin: auto;
}

#questions {
    display: none;
    text-align: center;
    font-size: 50px;
}
#scorepage {
    display: none;
}
button {
    margin-top: 8px;
    margin-bottom: 8px;
}